.channel-strip-wrapper {
  margin: 0 5%;
  border: 1px solid grey;
  padding: 2% 2% 0 2%;
  display: inline-block;
}

.fader-wrapper {
  width: 5em;
}

.fader-border {
  width: 5em;
}

.fader-subsection-wrapper {
  border: 1px solid red;
  height: 2em;
}

.fader-subsection-selected {
  background: palevioletred;
}

.knob-wrapper {
  border: 1px solid darkblue;
  height: 5em;
}